:root {
  --color1: #000000;
  --color2: #1b2a7e;
  --color3: #0725d1;
  --color4: #D77675;
  --color5: #C2D4EB;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 4em;
}

nav h1 {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}
nav span{
  color: var(--color4);
}


nav ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

nav li {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

nav svg {
  font-size: 1.5em;
  margin: .5em;
  transition: .5s ease-in-out;

}

nav svg:hover {
  transform: scale(1.2);
}

main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.profile {
  border-top: 1px double var(--color3);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3em;
}


.name {
  margin: 0 auto;
  align-items: center;
  text-align: justify;
  width: 50%;
  padding-top: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.name h2 {
  font-size: 2vw;
}



.abilities {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-top: 4px double var(--color5);
}

.abilities h2,.projects h2 {
  font-size: 2em;
  text-align: center;

}

.abilities ul {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
  padding: 3em;
}

.abilities li {
  text-align: center;
  border: 2px solid var(--color5);
  border-radius: .5em;
  border-top: none;
  width: 15em;
  list-style-type: none;
  margin: 1em;
}

.abilities svg {
  color: var(--color5);
  padding: .5em;
  font-size: 2.5em;
}

.projects {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-top: 4px double var(--color5);
  border-bottom: 1px double var(--color3);
}



.name a {
  font-size: 1em;
  text-decoration: none;
  color: var(--color3);
  padding: .2em;
  background-color: var(--color5);
  border-radius: .5em;

}

.listProjects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  text-align: center;
}

.project {
  background-color: #C2D4EB;
  width: 18em;
  height: 25em;
  margin: 1em;
  padding: 2em;
  border-radius: 8px;
  transition: .5s ease-in-out;
  justify-content: space-between;
}

.project h2 {
  font-size: medium;
  color: var(--color2);
  margin: 0 auto;
  height: 2em;
  width: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.project img {
  margin: 0 auto;
  width: 18em;
  height: 8em;
}

.description {
  width: 95%;
  height: 8em;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #fff;
  color: #000000;
  padding: .5em;
  overflow: scroll;
  text-align: justify;
}

.project svg {
  font-size: 2em;
  margin: .5em;
}

.github {
  color: #000000;
}
.site {
  color: var(--color2);
  transition: 0.1s;
}

.whatsapp{
  color: #25D366;
}

.linkedin {
  color: #015F94;
}

.download {
  color: #fff;
}

.project a {
  margin: 1em;
  text-decoration: none;

}

.project svg {
  transition: .5s ease-in-out;
}

.project svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.mainProjects {
  border-top: 3px dashed var(--color3);
  background: linear-gradient(45deg, var(--color1), var(--color3));
  color: var(--color3);
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  padding-bottom: 5em;
}

@media (width<1500px) {
  .listProjects {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .project {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2em;
  }


}


@media (width<900px) {


  .name h2{
    font-size: 4vw;
  }

  .name button {
    left: 35%;
    margin-bottom: 2em;
  }

  .abilities {
    width: 90%;
  }

  .abilities h2 {
    text-indent: 1.5em;
  }

  .abilities ul {
    flex-direction: column;
  }

  .abilities li {
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .projectsTitle {
    gap: 15em;
  }

  .projectsTitle h2 {
    font-size: 3vw;
  }

  .projectsTitle a {
    font-size: 2vw;
  }

}

@media (width<685px) {
  nav h1{
    font-size: 1.5em;
  }
  .name,.abilities,.projects{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  .name h2{
    font-size: 2em;
    text-align: center;
  }
  .name p{
    text-align: justify;
    width: 100%;
   
  }
  .name a{
    margin-top: .5em;
    font-size: 1em;
    word-break: keep-all;
  }
}